{% extends 'base.html' %}

{% block content %}

<style>
    
    body {
        background-color: peachpuff; 
        font-family: Arial, Helvetica, sans-serif; 
        color: chocolate; 
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column; 
        align-items: center; 
        justify-content: center; 
        height: 100vh; 
    }


    h1 {
        font-size: 35px;
        margin-bottom: 20px;
    }

    form {
        width: 50%;
        margin: 0 auto;
        text-align: center; 
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid chocolate;
    }

    input[type="submit"] {
        background-color: chocolate;
        color: peachpuff;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        border-radius: 10px;
    }

    input[type="text"], input[type="number"], textarea 
    {
        background-color: peachpuff;
        border: 1px solid chocolate; 
        border-radius: 10px; 
        padding: 10px; 
    }

    textarea[name="description"] {
        height: 100px; /* Atur tinggi kotak description sesuai kebutuhan Anda */
    }
</style>

<h1>Edit Product</h1>

<form method="POST">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Edit Product"/>
            </td>
        </tr>
    </table>
</form>

{% endblock %}

